html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  overflow: hidden;
}

#terminal-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  
  .terminal {
    flex: 1;
    min-height: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    
    .xterm {
      height: 100%;
      flex: 1;
      min-height: 0;
      
      .xterm-viewport {
        overflow-y: auto !important;
        flex: 1;
        min-height: 0;
      }
      
      .xterm-screen {
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
}

@import './control-panel.scss';
@import './button.scss';
